#page-home {
  padding-top: 0;

  .our-mission {
    @include rem-fallback(padding, 2, 0);

    .donate-button {
      margin-top: 60px;
      .button-link {
        display: block;
        width: 225px;
        margin: 0 auto;
      }
      .button-image {
        border-radius: 9px;
        width: 225px;
        border: 3px solid $blue5;
      }
    }
    .get-involved {
      button {
        font-size: 2.5em;
        width: 225px;
        margin: 40px auto;
        display: block;
        color: $white1;
        font-family: $funky;
        background: $gold4;
        -moz-box-shadow: inset 0 1px 0 0 $gold2, 0 1px 2px 0 $black;
        -webkit-box-shadow: inset 0 1px 0 0 $gold2, 0 1px 2px 0 $black;
        text-shadow: 0 -1px 1px $gold2;
        border: 3px solid $blue5;
        border-radius: 9px;

        &:hover,
        &:focus,
        &:visited {
          background: $gold5;
          -moz-box-shadow: inset 0 1px 0 0 $gold1;
          -webkit-box-shadow: inset 0 1px 0 0 $gold1;
          cursor: pointer;
          text-shadow: 0 -1px 1px $gold1;
          color: $white1;

        }
        &:active {
          background: $gold3;
          -moz-box-shadow: inset 0 0 6px 3px $gold5, 0 1px 0 0 $white1;
          -webkit-box-shadow: inset 0 0 6px 3px $gold5, 0 1px 0 0 $white1;
          text-shadow: 0 -1px 1px $black;
          color: $white1;
        }

        .button-link {
          text-decoration: none;
          color: $white1;
        }
      }
    }
    .apply {
      button {
        font-size: 2.5em;
        width: 225px;
        margin: 40px auto;
        display: block;
        color: $white1;
        font-family: $funky;
        background: $blue4;
        -moz-box-shadow: inset 0 1px 0 0 $blue2, 0 1px 2px 0 $black;
        -webkit-box-shadow: inset 0 1px 0 0 $blue2, 0 1px 2px 0 $black;
        text-shadow: 0 -1px 1px $blue2;
        border: 3px solid $blue5;
        border-radius: 9px;

        &:hover,
        &:focus,
        &:visited {
          background: $blue5;
          -moz-box-shadow: inset 0 1px 0 0 $blue1;
          -webkit-box-shadow: inset 0 1px 0 0 $blue1;
          cursor: pointer;
          text-shadow: 0 -1px 1px $blue1;
          color: $white1;

        }
        &:active {
          background: $blue3;
          -moz-box-shadow: inset 0 0 6px 3px $blue5, 0 1px 0 0 $white1;
          -webkit-box-shadow: inset 0 0 6px 3px $blue5, 0 1px 0 0 $white1;
          text-shadow: 0 -1px 1px $black;
          color: $white1;
        }

        .button-link {
          text-decoration: none;
          color: $white1;
        }
      }
    }
  }

  .upcoming-events {
    .header-container {
      border-bottom: 3px solid rgb(194, 218, 251);
    }
    h2 {
      font-size: 3.5em;
      font-weight: bold;
      color: $blue4;
      text-align: left;
      padding-bottom: 0;
    }

    .upcoming-event {
      background-color: #062856;
      border-bottom: 3px solid rgb(194, 218, 251);
      @include rem-fallback(padding, 1, 0);

      h4 {
        font-size: 3.75em;
        font-weight: 600;
        color: $white1;
      }

      h6 {
        font-size: 3em;
        color: rgb(194, 218, 251);
        @include rem-fallback(padding-bottom, 1);
      }

      p {
        color: $white1;
        font-family: $text;
        font-size: 2em;
      }
      img {
        border: 2px solid $white1;
        border-radius: 3px;
        margin: 30px auto;
        vertical-align: middle;
        width: 265px;
        display: block;

      }

    }
  }

  .sentinels {
    background-color: $blue4;
    @include background-g(0deg, #0555c0, 5%, #073068, 95%);
    color: $white1;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    @include rem-fallback(margin,  5, 0);

    h2 {
      margin: 0;
      font-family: $funky;
      text-align: center;
      font-size: 3.5em;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: $white2;
      border-bottom: 4px solid $white2;
      @include rem-fallback(padding, 1, 0);
    }
    .sentinel {
      border-bottom: 2px solid $white2;
      background-color: #083f88;
      background: linear-gradient(0deg, #0555c0 5%, #073068 95%);
      @include rem-fallback(padding, 2.25, 1.5);

      &:last-child {
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
      }
      img {
        max-height: 200px;
        margin: 0 auto;
        border-radius: 6px;
        box-shadow: 0px 5px 22px 5px rgba(50, 50, 50, 0.75);
        border: 2px solid #C2DAFB;
        margin: 0 auto;
      }

      h5 {
        margin-top: 0;
      }

      p {
        font-size: 1.5em;

        .read-more-link {
          color: $white2;
          letter-spacing: 0.5px;
          @include rem-fallback(padding-left, 0.25);
          &:hover {
            text-decoration: underline;
          }
        }
      }

    }
  }

  .our-sponsors {
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;

    h2 {
      font-size: 4em;
      font-weight: 600;
      margin: 0 0 10px;
      text-align: left;
    }

    @-webkit-keyframes slideshow {
      0%    { left: 0; }
      100%  { left: -100%; }
    }
    @-moz-keyframes slideshow {
      0%    { left: 0; }
      100%  { left: -100%; }
    }
    @keyframes slideshow {
      0%    { left: 0; }
      100%  { left: -100%; }
    }

    .our-sponsors-carousel-wrapper {
      position: absolute;
      width: 10000px;
    }

    .our-sponsors-carousel {
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
      -webkit-animation: slideshow 100s linear infinite;
      -moz-animation:    slideshow 100s linear infinite;
      -ms-animation:    slideshow 100s linear infinite;
      -o-animation:    slideshow 100s linear infinite;
      animation:    slideshow 100s linear infinite;
    }

    .sponsor-image {
      height: 115px;
    }
  }
}
