#page-main {
  ul {
    padding-left: 0;
    @include rem-fallback(padding-bottom, 2);
    ul {
      padding-bottom: 0;
    }
  }
  li {
    font-size: 1.75em;
    li {
      font-size: 1em;
    }
  }
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}
