/*****************
* CUSTOM CLASSES *
*****************/

.strong {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align:center;
}
.disclaimer {
  font-size: 1.25em;
}
.no-padding {
  padding: 0;
}
.width-75 {
  display: block;
  width: 75%;
}
.block-center {
  display: block;
  margin: 0 auto;
}
.image-shadow {
  box-shadow: 0 5px 22px 5px rgba(50,50,50,0.75);
}
.image-border-radius-10 {
  border-radius: 10px;
}
