/**********
 * COLORS *
 **********/

// BLACKS
$black: #21201E;


// WHITES
$white1: #FFFEFA;
$white2: #FFFAEE;
$white3: #FFF5DB;
$white4: #F1E4C4;
$white5: #D9CBA5;

// REDS
$red1: #FD242F;
$red2: #E9202B;
$red3: #C8212A;
$red4: #A51C23;
$red5: #77151B;

// BLUES
$blue1: #1979F9;
$blue2: #4a4e6e; //#0555c0;
$blue3: #041c7c; //#0F57B6;
$blue4: #05197d; //#083F88;
$blue5: #040434; //#073068;

// GOLDS
$gold1: #FEF495;
$gold2: #EEDC76;
$gold3: #E5B837;
$gold4: #9c6d3c;
$gold5: #99711C;
