$title: "Georgia Pro", Georgia, Perpetua, Baskerville, "Times New Roman", serif;
$text: "Myriad Pro", Myriad, "Open Sans", Helvetica, Arial, sans-serif;
$funky: "Georgia Pro", Georgia, "American Typewriter", "Myriad Pro", Myriad, "Lucida Console", "Times New Roman", serif;
