/***************
 * BASIC STYLE *
 ***************/

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html{
  height: 100%;
  font-size: 16px;

  body {
    font-size: 62.5%;
    font-family: $text;
    background-color: $white1;
    color: $black;
  }
}

.container, .container-fluid {
  padding: 0;
  margin: 0 auto;
  @include mobile {
    @include rem-fallback(padding, 0, 1);
  }
}

.row {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title;
}

h1 {
  font-family: $title;
  color: $blue3;
  font-size: 3.15em;
  font-weight:600;
  @include mobile {
    font-size: 2.5em;
  }
}

h2 {
  color: $blue4;
  font-size: 5em;
  text-align: center;
  font-weight: 600;
  @include rem-fallback(padding-bottom, 2);
}
h3 {
  font-size: 3em;
  color: $blue4;
  font-style: italic;
}
h4 {
  color: $blue3;
  font-weight: 600;
  font-size: 2.25em;
}
h5 {
  font-size: 2.25em;
}
h6 {
  color: $gold4;
  font-size: 1.75em;
}
p {
  font-size: 2em;
  @include rem-fallback(margin-bottom, 1);
}

a {
  transition: all 0.3s ease;
  cursor: pointer;
  color: $blue3;
  &:visited,
  &:focus,
  &:active,
  &:hover {
    background: transparent;
    color: $blue3;
    text-decoration:none;
  }
}

div[class^="col-"], div[class*=" col-"] {
  padding: 0;
}

.custom-page {
  @include rem-fallback(padding, 2, 0, 3);
}
